.like {
  color: transparent;
  transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover svg {
    color: coral;
    fill: coral;
    & path {
      color: coral;
      stroke-width: 0.5px;
      transition: stroke 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
  &.active svg {
    color: coral;
    fill: coral;
    & path {
      color: coral;
      stroke-width: 0.5px;
      transition: stroke 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}
